[Unit]
Description=FluidSynth Daemon
After=sound.target

[Service]
ExecStart=/usr/bin/fluidsynth -is -o synth.midi-bank-select=xg -a alsa -g 1 -m alsa_seq -r 48000 '/home/pi/midisynth/FluidR3_GModif.sf2'

[Install]
WantedBy=multi-user.target
