[Unit]
Description=FluidSynth Daemon
After=sound.target

[Service]
ExecStart=/usr/bin/fluidsynth -is -a alsa -m alsa_seq -r 48000 '/usr/share/sounds/sf2/FluidR3_GM.sf2'

[Install]
WantedBy=multi-user.target
