[Unit]
Description=Midisynth Daemon
After=sound.target

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/home/pi/pythonVenv10/bin/python /home/pi/midisynth/examples/Dec23.py

[Install]
WantedBy=multi-user.target
